html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "roboto";
}

h1, h2 {
  font-weight: 800;
  font-size: 23px;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button-component {
  background: #9356dc;
  background: linear-gradient(352deg, #9356dc 0%, #ff79da 100%);
  border-radius: 40px;
  color: #eeeeee;
  text-align: center;
  border: 4px #9356DC;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}

.button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 80px 0px;
}

.button-menu__content {
  padding: 15px 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 200px;
}

.buttons-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 5px 5px #e0e0e0;
          box-shadow: 0px 5px 5px #e0e0e0;
  border-radius: 20px;
  margin: 15px;
  padding: 35px;
}

.buttons-steps__step {
  position: absolute;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 45px;
  left: -10px;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-steps__colour {
  background-color: #decdf1;
}

.buttons-steps__icon {
  position: absolute;
  left: 30px;
  color: #999;
}

.buttons-steps__iconcolored {
  color: #9356DC;
}

.buttons-steps__text {
  position: absolute;
  left: 70px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .buttons-steps {
    width: 33%;
    max-width: 350px;
  }
  .buttons-steps__text {
    padding: 10%;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #9356DC;
  border-radius: 50%;
  border-top: 16px solid #FF79DA;
  -webkit-animation: spin 1000ms linear;
          animation: spin 1000ms linear;
  opacity: 0;
  position: fixed;
  pointer-events: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  background-color: white;
  text-decoration: none;
  color: black;
}

.card__top {
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__tag {
  position: absolute;
  top: 7%;
  right: 5%;
  background-color: #99E2D0;
  padding: 2%;
  font-weight: 700;
  color: #189276;
  text-align: center;
}

.card__bottom {
  position: relative;
  padding: 15px;
}

.card__title {
  font-weight: 900;
  font-size: 18px;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .card__title {
    padding-bottom: 12px;
  }
}

.card__subtitle {
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card__subtitle:hover {
  -webkit-animation: subtitle 500ms ease-in-out forwards;
          animation: subtitle 500ms ease-in-out forwards;
}

.card__menu {
  position: relative;
  padding: 3%;
  margin: 4% 4%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 10px #e0e0e0;
          box-shadow: 0px 1px 10px #e0e0e0;
  overflow: hidden;
}

.card__menu:hover > .card__check {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.card__menu:hover .card__check--icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card__menu:hover .card__price {
  -webkit-transform: translate(-70px, 0);
          transform: translate(-70px, 0);
}

.card__menu .card__title {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .card__menu .card__title {
    font-size: 19px;
  }
}

.card__menu .card__subtitle {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .card__menu .card__subtitle {
    font-size: 17px;
  }
}

.card__price {
  font-weight: bold;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  text-align: right;
  position: absolute;
  right: 10px;
}

.card__check {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 70px;
  height: 100%;
  right: -70px;
  bottom: 0;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.card__check--icon {
  background-color: white;
  border-radius: 50%;
  color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@-webkit-keyframes subtitle {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 125px);
  }
}

@keyframes subtitle {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 125px);
  }
}

@-webkit-keyframes subtitle2 {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 125px);
  }
}

@keyframes subtitle2 {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 125px);
  }
}

.header {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 12px 0px;
  -webkit-box-shadow: 0 2px 4px grey;
          box-shadow: 0 2px 4px grey;
  position: relative;
}

.header__img {
  width: 45%;
}

.header__return {
  position: absolute;
  left: 5%;
  top: 50%;
  text-decoration: none;
  color: black;
}

.header__button {
  display: none;
}

.header__home {
  -webkit-animation: 1000ms ease-in-out 0s loader forwards;
          animation: 1000ms ease-in-out 0s loader forwards;
}

@media screen and (min-width: 768px) {
  .header__img {
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__return {
    display: none;
  }
}

.page-footer {
  background-color: rgba(0, 0, 0, 0.774);
  padding: 20px 20px;
}

.page-footer__img {
  color: white;
  font-family: "Shrikhand", cursive;
  padding: 10px 0;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .page-footer__img {
    padding-left: 2.5%;
  }
}

.page-footer__home {
  -webkit-animation: 1000ms ease-in-out 0s loader forwards;
          animation: 1000ms ease-in-out 0s loader forwards;
}

.footer-list {
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .footer-list {
    padding-left: 2.5%;
  }
}

.footer-list__item {
  padding: 5px 0px;
  color: white;
}

.footer-list__icon1 {
  padding-right: 12px;
}

.footer-list__icon2 {
  padding-right: 8px;
}

.home-page {
  opacity: 0;
  -webkit-animation: 1000ms ease-in-out 0s loader forwards;
          animation: 1000ms ease-in-out 0s loader forwards;
}

.loc-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e9e9;
  padding: 15px 0;
}

.loc-home__block {
  position: relative;
}

.loc-home__icon {
  position: absolute;
  left: -30px;
}

.loc-home__text {
  font-size: 17px;
  font-weight: bold;
}

.desc-home {
  background-color: whitesmoke;
  padding: 40px 40px;
  text-align: center;
}

.desc-home__title {
  padding: 0 10px;
}

.desc-home__text {
  padding: 15px 0;
}

.steps-home {
  padding: 40px 20px;
}

.steps-home__title {
  padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .steps-home__title {
    padding-left: 2.5%;
  }
}

@media screen and (min-width: 768px) {
  .steps-home .buttons-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 992px) {
  .steps-home .buttons-home {
    padding-left: 2.5%;
  }
}

.restaurants-home {
  padding: 40px 20px;
  background-color: whitesmoke;
}

.restaurants-home__title {
  padding-bottom: 15px;
}

@media screen and (min-width: 992px) {
  .restaurants-home__title {
    padding-left: 2.5%;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.card-list__content {
  position: relative;
  border-radius: 20px 20px;
  margin: 15px auto;
  -webkit-box-shadow: 0px 1px 10px #e0e0e0;
          box-shadow: 0px 1px 10px #e0e0e0;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .card-list__content {
    width: 45%;
  }
}

.card-list__icon {
  position: absolute;
  right: 5%;
  bottom: 10%;
  font-size: 24px;
}

.card-list__icon:hover {
  font: var(--fa-font-solid);
  font-size: 24px;
  color: #9356DC;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media screen and (min-width: 992px) {
  .card-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
  }
}

.img-menu {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .img-menu {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .img-menu {
    display: none;
  }
}

.starters {
  position: relative;
  -webkit-animation: animatemenu 500ms 1000ms both;
          animation: animatemenu 500ms 1000ms both;
}

.dishes {
  position: relative;
  -webkit-animation: animatemenu 500ms 1500ms both;
          animation: animatemenu 500ms 1500ms both;
}

.desserts {
  position: relative;
  -webkit-animation: animatemenu 500ms 2000ms both;
          animation: animatemenu 500ms 2000ms both;
}

@-webkit-keyframes animatemenu {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatemenu {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -40px;
  background-color: whitesmoke;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title {
  padding: 40px 0 0 20px;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: 500;
}

.menu__icon {
  position: absolute;
  padding: 40px 0 0 10px;
  right: 25px;
}

.menu__steptitle {
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 20px;
  font-size: 15px;
  position: relative;
}

.menu__steptitle::after {
  content: "";
  height: 3px;
  width: 40px;
  position: absolute;
  bottom: -6px;
  margin-left: 20px;
  left: 0;
  background-color: #99E2D0;
}

@media screen and (min-width: 768px) {
  .menu__steptitle {
    font-size: 20px;
  }
  .menu__steptitle::after {
    content: "";
    width: 50px;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    width: 40%;
    opacity: 0.9;
    border-radius: 40px 40px;
    margin: auto;
    top: 25px;
  }
}

@media screen and (min-width: 992px) {
  .menu-page {
    padding-bottom: 2%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 992px) {
  .lapalettedugout {
    background-image: url("../../assets/restaurants/first-restaurant.jpg");
  }
}

@media screen and (min-width: 992px) {
  .lanoteenchantee {
    background-image: url("../../assets/restaurants/third-restaurant.jpg");
  }
}

@media screen and (min-width: 992px) {
  .alafrancaise {
    background-image: url("../../assets/restaurants/fourth-restaurant.jpg");
  }
}

@media screen and (min-width: 992px) {
  .ledelicedessens {
    background-image: url("../../assets/restaurants/second-restaurant.jpg");
  }
}
/*# sourceMappingURL=main.css.map */