.card {
    background-color: white;
    text-decoration: none;
    color: black;
    
    &__top{
        height: 180px;
        border-radius: 20px 20px 0px 0px;
        position: relative;
        overflow: hidden;
    }
    &__img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__tag{
        position: absolute;
        top: 7%;
        right: 5%;
        background-color: $colour-tertiary;
        padding: 2%;
        font-weight: 700;
        color: #189276;
        text-align: center;
    }
    &__bottom{
        position: relative;
        padding: 15px;
    }
    &__title {
        font-weight: 900;
        font-size: 18px;
        padding-bottom: 5px;
        @include tablette-only {
            padding-bottom: 12px;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        transition: ease-out .9s;
    }
    &__menu {
        position: relative;
        padding: 3%;
        margin: 4% 4%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 1px 10px rgb(224, 224, 224);
        overflow: hidden;
        &:hover > .card__check {
            transform: translate(-100%, 0);
        }
        &:hover .card__check--icon {
            transform: rotate(360deg);
        }
        &:hover .card__price {
            transform: translate(-70px, 0);
        }
        & .card__title {
            font-size: 16px;
            @include tablette-only {
                font-size: 19px;
            }
        }
        &:hover .card__subtitle {
            width: calc(100% - 125px);
            transition: ease-out .5s;
        }
        & .card__subtitle {
            font-size: 14px;
            @include tablette-only {
                font-size: 17px;
            }
        }
    }
    &__price {
        font-weight: bold;
        transition: transform 500ms ease-in-out;
        text-align: right;
        position: absolute;
        right: 10px;
    }
    &__check {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        width: 70px;
        height: 100%;
        right: -70px;
        bottom: 0;
        transition: transform 500ms ease-in-out;
        &--icon {
            background-color: white;
            border-radius: 50%;
            color: $colour-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            transition: transform 500ms ease-in-out;
        }
    }
}

@keyframes subtitle {
    0% {
        width: 100%;
    }
    100% {
        width: calc(100% - 125px);
    }
}

@keyframes subtitle2 {
    0% {
        width: 100%;
    }
    100% {
        width: calc(100% - 125px);
    }
}