.button-component {
    background: rgb(147,86,220);
    background: linear-gradient(352deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 40px;
    color: #eeeeee;
    text-align: center;
    border: 4px $colour-primary;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px;
}

.button-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &__content{
        padding: 15px 40px;
        align-items: flex-end;
        width: 200px;
    }
}

.buttons-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 5px 5px rgb(224, 224, 224);
    border-radius: 20px;
    margin: 15px;
    padding: 35px;
    &__step{
        position: absolute;
        background-color: $colour-primary;
        width: 25px;
        height: 25px;
        border-radius: 45px;
        left: -10px;
        color: #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon{
        position: absolute;
        left: 30px;
        color: #999;
    }

    &__text{
        position: absolute;
        left: 70px;
        font-weight: 700;
    }
    @include tablette-only {
        width: 33%;
        &__text{
            padding: 10%;
        }
    }
}