.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid $colour-primary;
    border-radius: 50%;
    border-top: 16px solid $colour-secondary;
    animation: spin $delay-loader linear;
    opacity: 0;
}

@keyframes spin {
0% { 
    transform: rotate(0deg);
    opacity: 1;
}
99%, 100% {
    opacity: 0;
}
100% {
    transform: rotate(360deg);
}
}

@keyframes loader{
0% {
    transform: translateX(-9999px);
}
100% {
    transform: translateX(0);
    }
}