.home-page {
    opacity: 0;
    animation : $delay-loader ease-in-out 0s loader forwards;
}

.loc-home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    padding: 15px 0;
    &__block {
        position: relative;
    }
    &__icon {
        position: absolute;
        left: -30px;
    }
    &__text {
        font-size: 17px;
        font-weight: bold;
    }
}

.desc-home {
    background-color: rgb(245, 245, 245);
    padding: 40px 40px;
    text-align: center;
    &__title {
        padding: 0 10px;
    }
    &__text {
        padding: 15px 0;
    }
}

.steps-home {
    padding: 40px 20px;
    &__title {
        padding-bottom: 20px;
        @include desktop-only {
            padding-left: 2.5%;
    }
    }
    @include tablette-only {
        .buttons-home {
            display: flex;
            justify-content: space-evenly;
        }
    }
    @include desktop-only {
        .buttons-home {
            padding-left: 2.5%;
        }
        
    }
}

.restaurants-home {
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
    &__title {
        padding-bottom: 15px;
        @include desktop-only {
                padding-left: 2.5%;
        }
    }
}

.card-list {
    display: flex;
    flex-flow: wrap column;
    
    &__content {
        position: relative;
        border-radius: 20px 20px;
        margin: 15px auto;
        box-shadow: 0px 1px 10px rgb(224, 224, 224);
        width: 100%;
        @include desktop-only {
            width: 45%;
        }
    }
    &__icon {
        position: absolute;
        right: 5%;
        bottom: 10%;
        font-size: 24px;
        &:hover {
            font: var(--fa-font-solid);
            font-size: 24px;
            color: $colour-primary;
            transition: 500ms;
        }
    }

    @include desktop-only {
        flex-flow: row wrap;
        width: 100%;
    }
}