.img-menu {
    width: 100vw;
    animation : loader 0ms $delay-loader both;
    @include tablette-only {
        width: 100%;
    }
    @include desktop-only {
        display: none;
    }
}

.starters {
    position: relative;
    animation: animatemenu 2000ms 2000ms both;
}

.dishes {
    position: relative;
    animation: animatemenu 2000ms 2500ms both;
}

.desserts {
    position: relative;
    animation: animatemenu 2000ms 3000ms both;
}

@keyframes animatemenu { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.menu {
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -40px;
    background-color: $grey-primary;
    animation : loader 0ms $delay-loader both;
    &__header {
        display: flex;
        align-items: center;
    }
    &__title {
        padding: 40px 0 0 20px;
        font-family: $font-secondary;
        font-size: 28px;
    }
    &__icon {
        position: absolute;
        padding: 40px 0 0 10px;
        right: 25px;
    }
    &__steptitle {
        padding-top: 30px;
        text-transform: uppercase;
        font-weight: 300;
        padding-left: 20px;
        font-size: 20px;
        position: relative;
        &::after {
            content: "";
            height: 3px;
            width: 50px;
            position: absolute;
            bottom: -6px;
            margin-left: 20px;
            left: 0;
            background-color: $colour-tertiary;
        }
    }
    @include desktop-only {
        width: 40%;
        opacity: 0.9;
        border-radius: 40px 40px;
        margin: auto;
        top: 25px;
    }
}

.menu-page {
    @include desktop-only {
        padding-bottom: 2%;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        animation : loader 0ms $delay-loader both;
    }
}

.lapalettedugout {
    @include desktop-only {
        background-image: url("../../assets/restaurants/first-restaurant.jpg");
    }
}

.lanoteenchantee {
    @include desktop-only {
        background-image: url("../../assets/restaurants/third-restaurant.jpg");
    }
}

.alafrancaise {
    @include desktop-only {
        background-image: url("../../assets/restaurants/fourth-restaurant.jpg");
    }
}

.ledelicedessens {
    @include desktop-only {
        background-image: url("../../assets/restaurants/second-restaurant.jpg");
    }
}