.img-menu {
    width: 100vw;
    @include tablette-only {
        width: 100%;
    }
    @include desktop-only {
        display: none;
    }
}

.starters {
    position: relative;
    animation: animatemenu 500ms 1000ms both;
}

.dishes {
    position: relative;
    animation: animatemenu 500ms 1500ms both;
}

.desserts {
    position: relative;
    animation: animatemenu 500ms 2000ms both;
}

@keyframes animatemenu { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.menu {
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -40px;
    background-color: $grey-primary;
    &__header {
        display: flex;
        align-items: center;
    }
    &__title {
        padding: 40px 0 0 20px;
        font-family: $font-secondary;
        font-size: 25px;
        font-weight: 500;
    }
    &__icon {
        position: absolute;
        padding: 40px 0 0 10px;
        right: 25px;
        &:hover {
            font: var(--fa-font-solid);
            font-size: 24px;
            transition: 500ms;
            background: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 30%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
           -webkit-text-fill-color:transparent;
        }
    }
    &__steptitle {
        padding-top: 30px;
        text-transform: uppercase;
        font-weight: 300;
        padding-left: 20px;
        font-size: 15px;
        position: relative;
        &::after {
            content: "";
            height: 3px;
            width: 40px;
            position: absolute;
            bottom: -6px;
            margin-left: 20px;
            left: 0;
            background-color: $colour-tertiary;
        }
        @include tablette-only {
            font-size: 20px;
            &::after {
                content: "";
                width: 50px;
            }
        }
    }
    @include desktop-only {
        width: 40%;
        opacity: 0.9;
        border-radius: 40px 40px;
        margin: auto;
        top: 25px;
    }
}

.menu-page {
    @include desktop-only {
        padding-bottom: 2%;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
}

.lapalettedugout {
    @include desktop-only {
        background-image: url("../assets/restaurants/first-restaurant.jpg");
    }
}

.lanoteenchantee {
    @include desktop-only {
        background-image: url("../assets/restaurants/third-restaurant.jpg");
    }
}

.alafrancaise {
    @include desktop-only {
        background-image: url("../assets/restaurants/fourth-restaurant.jpg");
    }
}

.ledelicedessens {
    @include desktop-only {
        background-image: url("../assets/restaurants/second-restaurant.jpg");
    }
}